# Read Markdown To DF

In [3]:
from pyhere import here
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath('../')) # adding the absolute path

from lb.markdown.md_to_df_str import read_md_to_df_str

In [4]:
read_md_to_df_str(here("data/markdown/test.md"))

     h1    h2  h3  h5                                       content_body
0                      \n, \n, Hello\n, \n, \n, World \n, \n, \n, \n,...
1                  H5
2              H3
3        H2.1
4        H2.2
5        H2.3
6    H1
7  H1.2

In [5]:
read_md_to_df_str(here("data/markdown/test2.md"))

,h1,h2,h3,content_body
0,,,,"\n, \n, Hello\n, \n, World ## HaHa ##\n, \n, M..."
1,,,Topic 2.1.1,
2,,Topic 1.1,,
3,,Topic 1.1,Topic 1.1.1,
4,,Topic 1.2,,
5,Topic 1,,,
6,Topic 2,,,